name: Java Format
permissions: read-all
on:
  pull_request:
    paths:
      - 'frontends/java/**'
      - '.github/workflows/google-java.yml'
      - 'tools/auto-fuzz/benchmark/jvm/**'
jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
      - name: Download google-java-format
        run: |
          curl -sSL \
            -o /tmp/google-java-format-1.34.1-all-deps.jar \
            https://github.com/google/google-java-format/releases/download/v1.34.1/google-java-format-1.34.1-all-deps.jar
      - name: Run google-java-format
        run: |
          shopt -s globstar nullglob
          java_files=(frontends/java/**/*.java)
          java \
            --add-exports jdk.compiler/com.sun.tools.javac.api=ALL-UNNAMED \
            --add-exports jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED \
            --add-exports jdk.compiler/com.sun.tools.javac.parser=ALL-UNNAMED \
            --add-exports jdk.compiler/com.sun.tools.javac.tree=ALL-UNNAMED \
            --add-exports jdk.compiler/com.sun.tools.javac.util=ALL-UNNAMED \
            -jar /tmp/google-java-format-1.34.1-all-deps.jar \
            --replace "${java_files[@]}"
      - name: Print diffs
        run: git --no-pager diff --exit-code
